{% extends "layout.html" %}
{% block content %}
    <h2>Habits</h2>
    {% for habit in data %}
        <p>{{ habit }}</p>
    {% endfor %}
    <a href="{{ url_for('add_habit') }}">
        <button type="button">
            &#43;
        </button>
    </a>

    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Habit</th>
            <th scope="col">Importance</th>
            <th scope="col">Success Rate</th>
          </tr>
        </thead>
        {% if habits %}
        <tbody>
          {% for habit in habits %}
          <tr>
            <td><input type="checkbox"></td>
            <td>{{ habit.description }}</td>
            <td>{{ '!' * habit.importance }}</td>
            <td>100%</td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tbody>
          <tr>
            <p>No habits yet.</p>
          </tr>
        </tbody>
        {% endif %}
      </table>
{% endblock content %}