<!DOCTYPE HTML>
<html>
    <head>
        <title>Digital Bullet Journal</title>
    </head>

    <body>
		<nav>
			<!--TODO make Calendar, Habits, Moods, Journals pages and substitute here-->
			<h1><a href="{{ url_for('home') }}">Digital Bullet Journal :D</a></h1>
			<li><a href="{{ url_for('home') }}">Calendar</a></li>
			<li><a href="{{ url_for('home') }}">Habits</a></li>
			<li><a href="{{ url_for('home') }}">Moods</a></li>
			<li><a href="{{ url_for('home') }}">Journals</a></li>
		</nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
    </body>
</html>
