<!DOCTYPE HTML>
<html>
    <head>
        <title>Digital Bullet Journal</title>
    </head>

    <body>
        <h1>Digital Bullet Journal :D</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
    </body>
</html>