{% extends "layout.html" %}
{% block content %}
<h2>Mood Entries</h2>


<table class="table">
<thead>
<tr>
  <th scope="col"></th>
  <th scope="col">Date</th>
  <th scope="col">Entry</th>
  <th scope="col"></th>
</tr>
</thead>
<tbody>
<tr>
    <td> <input type="checkbox" /> </td>
  <td>July 22nd, 2022</td> 
  <td>Happy</td>
  
</tr>
<tr>
    <td> <input type="checkbox" /> </td>
    <td>July 21st, 2022</td>
    <td>Sad</td>
  
</tr>
<tr>
    <td> <input type="checkbox" /> </td>
    <td>July 20th, 2022</td>
    <td>Excited</td>
  
</tr>
</tbody>
</table>
{% endblock content %}